# Secrets
.env
.env.*
*.pem
*.key
infra/ansible/vars.yml
infra/terraform/terraform.tfvars
terraform.tfvars
terraform.tfvars.json
secrets.yml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
venv/
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Node
node_modules/
